<?xml version="1.0" encoding="UTF-8"?>
<extension>
    <information>
        <name>KOSync Light</name>
        <version>0.1.0</version>
        <author>emmaexe</author>
        <id>kosync-light</id>
    </information>
    <menus>
        <menu type="json" dynamic="true">menu.json</menu>
    </menus>
</extension>
